* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #D8EFD3;
    font-family:'Times New Roman', Times, serif;
  }

  h1{
    color: #EE4E4E;
    background-color: #b6c6a1;
    font-family: 'Lily Script One', 'helvetica', Arial, sans-serif;
    font-size: 30px;
    padding: 30px;
    margin-bottom: 60px;
    border-radius: 20px;
    border: 2px solid #99fb81;
    box-shadow: 0 4px 8px 2px rgba(87, 194, 91, 0.871);

  }

  .game-info {
    position: absolute; 
    right: 300px;
    top: 70px;
    opacity: 0.7;
    background: rgba(255, 255, 255, 0.8); 
    border: 2px solid #FF8225;
    border-radius: 10px;
    padding: 8px 10px;
    box-shadow: 0 4px 8px #f67e23
  }
  
  #timer, #moves-count, #score-display {
    margin: 5px 0;
    font-size: 1.2em;
    color: #333;
  }

  #timer {
    font-size: 1.4em;
    font-weight: bold;
    color: #253773;
  }
  
  #moves-count {
    font-size: 1.4em;
    color: #256c73;
    font-weight: bold;
  }
  
  #score-display {
    font-size: 1.4em;
    font-weight: bold;
    color: #FF8225; 
  }
  

  .game-container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 10px;
    margin-top: 20px;
  }
  

  .card-container {
    perspective: 1000px; 
  }
  
  .card {
    width: 100px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(79, 183, 83, 0.871);
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .card-front {
    background-color: #FF8225;
    color: white;
  }
  
  .card-back {
    transform: rotateY(180deg);
    background-color: #ece7e7;
    border: 1px solid #ccc;
    color: #2e1616;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .matched {
    cursor: default;
    opacity: 0.5;
    animation: matched 0.8s ease-in-out;
  }
  
  @keyframes matched {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.4em;
    color: rgb(65, 7, 91);
  }
  
  button {
    background-color: #597445;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #658147;
    box-shadow: 0 4px 8px rgba(79, 183, 83, 0.871);
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  @keyframes wrong {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  .wrong {
    animation: wrong 0.25s ease-in-out;
  }

  #start-btn, #reset-btn {
    margin-top: 20px;
  }
  #instructions {
    background-color: #a0d18d;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(96, 72, 72, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 10px;
    width: 80%;
    color: #691414;
  }

 